@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-blue: #00264c;
    --secondary-blue: #012b558f;
    --main-yellow: #ffb800;
    --main-bg: #f7f7f7;
    font-family: 'Montserrat';
}

body {
    background-color: var(--main-bg);
}

li {
    list-style: none;
}

header {
    outline: 0.2px solid var(--main-blue);
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo-wrapper {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.logo-wrapper h1 {
    width: 50px;
    font-size: 0.5rem;
    font-family: 'Montserrat';
    font-weight: 300;
    letter-spacing: 2px;
}


#logo {
    max-height: 25px;
    max-width: 100%;
    object-fit: contain; /* Ensures the image fits within the wrapper without distortion */
}


ul {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.navbar .nav-item button {
    background-color: transparent;
    font-size: 0.8rem;

}

.title {
    color: var(--main-blue);
}

.highlighted {
    color: var(--main-yellow);
}

.hero {
    padding: 80px 12px;
    margin-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.hero-title {
    font-size: 1.8rem;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

button:focus {
    outline: none;
}

.cta {
    background-color: var(--main-yellow); 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 10px; 
    font-size: 16px; 
    cursor: pointer; 
    text-align: center; 
    width: 100%; 
    transition: background-color 0.3s ease; 
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.whatsapp-icon {
    margin-left: 5px; 
    width: 20px; 
    height: 20px; 
}

p {
    max-width: 35ch; 
    margin: 0;
    padding: 0.5em 0;
    line-height: 1.5;
    font-size: 1rem;
    color: #333;
    overflow-wrap: break-word;
}

.company-goal {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.company-goal div {
    text-align: left; 
    border-top: 1px solid var(--secondary-blue);
    padding: 14px 0;
}

.company-goal div:nth-child(2) {
    text-align: right;
}

.company-goal div:nth-child(2) p {
    margin-left: auto;
}

.company-goal div:nth-child(3) {
    border-bottom: 1px solid var(--secondary-blue);
}


.team {
    padding: 20px;
}

.card {
    display: flex;
    gap: 8px;
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    margin: 16px; 
    overflow: hidden; 
    max-width: 350px; 
    height: 140px;
    padding: 12px;
}

.avatar-wrapper {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    outline: 1px solid var(--main-yellow);
    margin: auto; 
    overflow: hidden; 
    position: relative; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 140%; 
    height: 140%; 
    object-fit: cover; 
    position: absolute; 
}

.member-info {
    margin: auto 0;
}

.member-bio {
    display: flex;
    flex-direction: column;
    font-size: 8px;
    gap: 3px;
}

.name {
    font-size: 1rem;
    margin-bottom: 6px;
    color: var(--main-blue);
}

.feedback {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.feedback h1 {
    margin-bottom: 16px;
}

.feedback label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

.feedback input[type='text'],
.feedback input[type='email'],
.feedback select,
.feedback textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
    box-sizing: border-box;
}

.feedback div {
    display: flex;
    justify-content: left;
    gap: 16px;
    margin: 12px 0;
}

.feedback textarea {
    resize: none;
}

.feedback button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feedback button:hover {
    background-color: #0056b3;
}

@media (min-width: 768px) {
    .feedback {
        padding: 40px;
        max-width: 600px;
    }

    .feedback h1 {
        font-size: 2rem;
    }

    .feedback input,
    .feedback select,
    .feedback textarea {
        font-size: 1.1rem;
    }

    .feedback button {
        font-size: 1.1rem;
    }
}

/*FOOTER*/

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
  }
  
  footer p {
    padding: 0.2px;
    color: #a5a4a4;
    font-size: 0.6em;
    margin: 0 auto;

  }
  
  footer .university-info {
    font-weight: bold;
  }